/* style.css */
body{
    background-color: #333;
    color: whitesmoke;
}

img.user {
    width: 100px;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
}
img.logo{
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    width: 100px;
}

p.username {
    font-weight: bold;
}

.image-grid{
    display: flex;
    flex-wrap: wrap;
}
.image-item {
    background-color: #333;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}